{% extends 'ms18/base.html' %}

{% block content %}
<div class="d-flex justify-content-center">
    <form method="post" id="quantityForm" action="/add-to-cart/">
        {% csrf_token %}
        <table class="table table-bordered text-center align-middle">
            <thead>
                <tr>
                    <th scope="col">Date Posted</th>
                    <th scope="col">Product Name</th>                    
                    <th scope="col">Supplier</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Product Description</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.PROD_DATE_POSTED|date:"F d, Y" }}</td>
                    <td><a href="{% url 'product-detail' product.id %}">{{ product.PROD_NAME }}</a></td>
                    <td>{{ product.supplier.SUPPLIER_NAME }}</td>
                    <td><input type="number" class="form-control" name="quantity_{{ product.id }}" value="0" min="0"></td>
                    <td>₱{{ product.PROD_PRICE }}</td>
                    <td>{{ product.PROD_DESCRIPTION }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Add Selected Items to Cart">
        </div>
    </form>
</div>
{% endblock content %}
