{% extends 'ms18/base.html' %}
{% block content %}
<head>
    <!-- ... other head elements ... -->
    <script src="https://kit.fontawesome.com/58cfe454f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0/css/all.css" integrity="your-integrity-code" crossorigin="anonymous" />
</head>
<div class="d-flex justify-content-center">
    <form method="post" id="quantityForm" action="/add-to-cart/">
        {% csrf_token %}
        <div class="d-flex justify-content-center">
            <input type="text" class="form-control mb-3" id="searchSupplier" placeholder="Search by Supplier Name">
            <button type="button" class="btn btn-primary" id="voiceSearchBtn"><i class="fas fa-microphone"></i></button>

        </div>
        <table class="table table-bordered text-center align-middle">
            <thead>
                <tr>
                    <th scope="col">Product Name</th>                    
                    <th scope="col">Supplier</th>
                    <th scope="col">In Stock</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Product Description</th>
                </tr>   
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td><a href="{% url 'product-detail' product.id %}">{{ product.PROD_NAME }}</a></td>
                    <td>{{ product.supplier.SUPPLIER_NAME }}</td>
                    <td>{{ product.PROD_QUANTITY }}</td>
                    <td><input type="number" class="form-control" name="quantity_{{ product.id }}" value="0" min="0"></td>
                    <td>₱{{ product.PROD_PRICE }}</td> 
                    <td>{{ product.PROD_DESCRIPTION }}</td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
        <div class="text-center">
            <input type="submit" class="btn btn-primary" value="Order">
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchSupplier").on("input", function () {
            var searchValue = $(this).val().toLowerCase();

            $("tbody tr").each(function () {
                var supplierName = $(this).find("td:nth-child(2)").text().toLowerCase();
                if (supplierName.includes(searchValue)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        // Voice search functionality
        $("#voiceSearchBtn").on("click", function () {
            startVoiceSearch();
        });

        function startVoiceSearch() {
            try {
                var recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
                recognition.lang = 'en-US';

                recognition.onresult = function (event) {
                    var transcript = event.results[0][0].transcript;
                    $("#searchSupplier").val(transcript);
                    triggerInputEvent();
                };

                recognition.start();
            } catch (error) {
                console.error("Error starting voice recognition:", error);
            }
        }

        function triggerInputEvent() {
            var inputElement = $("#searchSupplier")[0];
            var event = new Event('input', { bubbles: true });
            inputElement.dispatchEvent(event);
        }
    });
</script>
{% endblock content %}