{% extends 'ms18/base.html' %}
{% block content %}
    {% for product in products %}
        <article class="media content-section">           
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ product.PROD_DATE_POSTED|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'product-detail' product.id %}">{{ product.PROD_NAME }}</a></h2>
                <p class="article-content">{{ product.PROD_DESCRIPTION }}</p>
                <img class="article-img" src="{{ product.PROD_IMAGE.url }}">
            </div>
        </article>
    {% endfor %}


    
{% endblock content %} 