{% extends 'ms18/base.html' %}
{% block content %}   
    <article class="media content-section">
        <div class="media-body">
            <h2 class="article-title">{{ object.PROD_NAME }}</h2>
            <h6 class="article-title">Quantity: {{ object.PROD_QUANTITY }}</h6>
            <h6 class="article-title">Price: ₱{{ object.PROD_PRICE }}</h6>
            <p class="article-content">{{ object.PROD_DESCRIPTION }}</p>
            <p class="article-content">Supplier: {{ supplier_name }}</p>
            <img src="{{ object.PROD_IMAGE.url }}">
        </div>
        <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'product-update' object.id %}"> Update </a>
        </div>
    </article>
{% endblock content %}
