{% extends 'ms18/base.html' %}
{% block content %}
  <center><h1><b>Requested Products</b></h1></center>
  <div class="d-flex justify-content-center">
    <table class="table table-bordered text-center align-middle" id="printTable">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
        </tr>
      </thead>
      <tbody>
        {% for requested_prod in requested_prods %}
          <tr> 
            <td><a href="{% url 'product-detail' requested_prod.Product_id %}">{{ requested_prod.Product.PROD_NAME }}</a></td>
            <td>{{ requested_prod.REQUESTED_PRODUCT_QUANTITY }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <button class="btn btn-primary" onclick="printTableToPDF()">Print</button>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
  <script>
    function printTableToPDF() {
      var element = document.getElementById('printTable');
      html2pdf(element);
    }
  </script>

{% endblock content %}
