{% extends 'ms18/base.html' %}

{% block content %}
  <center><h1><b>Requisitions</b></h1></center>
  <div class="d-flex justify-content-center">
    <table class="table table-bordered text-center align-middle">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Status</th>
          <th scope="col">Date Requested</th>
          <th scope="col">SUPPLIER</th>
          <th scope="col">Staff</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for requisition in Requisition %}
          <tr>
            <td><a href="{% url 'requested-product-view' requisition.REQ_ID %}">{{ requisition.REQ_ID }}</a></td>
            <td style="{% if requisition.REQ_STATUS == 'Approved' %}color: green;{% elif requisition.REQ_STATUS == 'Rejected' %}color: red;{% endif %}">
              {{ requisition.REQ_STATUS }}
          </td>
            <td>{{ requisition.REQ_DATE_CREATEDAT }}</td>
            <td>{{ requisition.supplier.SUPPLIER_NAME }}</td>
            <td>{{ requisition.REQ_EMPLOYEE.username }}</td>
            <td>
              {% if requisition.REQ_STATUS == 'Pending' %}
                <form method="post" action="{% url 'approve_requisition' requisition.REQ_ID %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success">Approve</button>
                </form>
                <form method="post" action="{% url 'reject_requisition' requisition.REQ_ID %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Reject</button>
                </form>
              {% else %}
                None
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}