{% extends 'ms18/base.html' %}
{% block content %}
    {% for product in products %}
        <article class="media content-section">           
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ product.employee }}</a>
                    <small class="text-muted">{{ product.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'product-detail' product.id %}">{{ product.title }}</a></h2>
                <p class="article-content">{{ product.content }}</p>
                <img class="article-img" src="{{ product.image.url }}">
            </div>
        </article>
    {% endfor %}
{% endblock content %}